<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kontaktai</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="Flexible-container">
                  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2308.3318891699846!2d23.024708000000004!3d54.650982000000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x50670964c2f7f476!2sArneva!5e0!3m2!1slt!2slt!4v1412554229155"></iframe>
              </div>
          </div>
          <div class="col-md-6" style="color:white;" >
            <address>
              <strong>UAB Arneva</strong><br>
              Nepriklausomybės gatvė 47<br>
              Vilkaviškis, LT-70111<br>
              Tel.8 606 67780, 8 656 69000
          </address>
          <address>
         arneva47@gmail.com
        </address>





      </div>
  </div>
</div>
</section>
