<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-medium-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Technologija jums</h2>
				<h3 class="section-subheading text-muted">Veikia tiesiog oru!</h3>
			</div>
		</div>

		<div class="col-lg-2">
		</div>
		<div class="col-lg-8 text-center">
		Oro pagalvės yra tvirtinamos tarp rėmo ir galinio tilto (balkio). Pajungiama oro žarnele, monometru ir oro kompresoriumi. Pasikrovis į mikroautobusą, oro kompresorius pumpuoja orą. Nėra nustatyto spaudimo reikalavimo, dėl to galima valdyti mašinos aukštį pagal savo poreikius.
		</div>
		<div class="row text-center">
			 <img src="img/OroPakaba.png" class="img-centered">
		</div>

		<div class="col-lg-2">
		</div>
	</div>
</section>
