<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
        <div class="row">
-                <div class="col-lg-12 text-center">
-                    <h2 class="section-heading">Technologija jums</h2>
-                    <h3 class="section-subheading text-muted">Veikia tiesiog oru!</h3>
-                </div>
-            </div>
            <div class="row">
               
               Jūsų mašina pakyla padedant orui, todėl smaližiai vokiečių kelių detektyvai negali atspėti jūsų tikrojo krovinio svorio vien iš žvilgsnio
               
            </div>
        </div>
    </section>
