<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kas tai</h2>
                    <h3 class="section-subheading text-muted">Ir kaip tai gali padėti jums</h3>
                </div>
            </div>
            <div class="row text-center col-lg-4">
                <p><img src="img/1.png" class="img-centered img-scale"></p>
                <p><strong>Patogu</strong></p>
                Mikroautobusas kelyje tampa stabilesnis su geresne amortizacija, sumažinamas mikroautobuso kietumas. Lingių apkrova sumažėja, dėl to jomis galima naudotis ilgiau. Oro pakabos kartu su lingėmis sugeba saugiai atlaikyti daugiau krovinio nei prieš tai.
            </div>
            <div class="row text-center col-lg-4">
               <p> <img src="img/2.png" class="img-centered img-scale"></p>
             <p><strong>Saugu</strong></p>
               Įsidėjus šias pagalves praktiškai nelieka tikimybės, kad kelyje galėtų sulūžti lingė (spyruoklė).Su minkšta amortizacija stipriai sumažinamas šansas, kad kroviniai nukentės dėl ypač prastų kelių. 
            </div>
            <div class="row text-center col-lg-4">
           <p> <img src="img/3.png" class="img-centered img-scale"></p>
            <p><strong>Ramu</strong></p>
                Su kompresoriumi galima valdyti mašinos galo pakilimą ir akimi neįmanoma nuspėti krovinio svorio. Esant atvėjui, jei tenka pakrauti mikroautobusą virš leidžiamo limito, nebelieka rizikos, kad jus sustabdys dėl akivaizdžiai nusėdusios mašinos. 
        </div>
    </section>

