<section id="shop">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Kaip tai įsigyti</h2>
			</div>
		</div>


		<div class="text-center">
		
		<p>Esant galimybei ir norui galite atvykti pas mus ir pamatyti mikroautobusą su instaliuota oro pakabos sistema.</p>
		<p>Jei susidomėjote ir norėtumėte įsigyti šį produktą prašome atvykti pas mus arba susisiekti telefonu.</p>
		<p>Produkto kaina priklauso nuo jūsų turimo mikroautobuso modelio ir ar norėsite įtaisyti produktą pas mus ar patys.</p>

		</div>

	</div>
</section>
