<section id="shop">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Kaip tai įsigyti</h2>
			</div>
		</div>

			<div class="well-yellow">Jei susidomėjote ir norėtumėte įsigyti šį produktą prašome atvykti pas mus arba susisiekti telefonu.</div>
			<div class="well-yellow">Produkto kaina priklauso nuo jūsų turimo mikroautobuso modelio, ir ar norėsite įtaisyti produktą pas mus ar patys. Mes galime įtaisyti per vieną darbo dieną, atvykus ryte galėtumėte atsiimti mikroautobusą tą pačią dieną.</div>
			<div class="well-yellow">Jei nesate tikras, kad šis produktas gali padėti jums ir ar tai yra ko jūs ieškote, galite atvykti į mūsų dirbtuves ir pamatyti aktyviai naudojamų mikroautobusų su oro pakabomis pavyzdžius.</div>
			
		</div>

	</div>
</section>
